body {
	font-family: 'Caveat', cursive;
	margin: 0;
}
h1 {
	text-align: center;
	font-size: 5em;
	background-color: rgba(252, 214, 112, 0.5);
}
header {
	margin: 0;
}
.title {
	font-size: 35px;
}
label {
	display: block;
	font-size: 35px;
	margin: 8px;
	font-weight: bolder;
}

.container {
	margin-top: 0;
	padding: 0 80px;
	display: grid;
	grid-template-columns: repeat(3fr);
	grid-template-rows: auto;
	grid-template-areas: 'input output output';
}
#userinput {
	grid-area: input;
}
#zip {
	width: 200px;
	height: 50px;
	font-size: 20px;
	background-color: rgba(252, 214, 112, 0.2);
	border-radius: 0.5em;
	padding: 5px;
}
.zip {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10px;
}
#feelings {
	border-radius: 0.5em;
	background-color: rgba(252, 214, 112, 0.2);
	font-size: 25px;
	padding: 10px;
}

.entry {
	grid-area: output;
}
#entryHolder {
	font-size: 30px;
}
#generate {
	display: block;
	margin: 10px 0;
	padding: 5px;
	background-color: rgba(252, 214, 112, 0.2);
	border: 2px solid rgba(252, 214, 112);
	border-radius: 0.5em;
	width: 80px;
	height: 40px;
	font-size: 1em;
}
#generate:hover {
	cursor: pointer;
	background-color: rgb(65, 61, 50);
	color: rgba(252, 214, 112);
}
@media (max-width: 1050px) {
	.container {
		display: grid;
		justify-content: center;
		grid-template-columns: auto;
		grid-template-rows: repeat(2fr);
		grid-template-areas: 'input' 'output';
	}
	#userinput {
		grid-area: input;
	}
	.entry {
		grid-area: output;
	}
}
