<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
			rel="stylesheet"
		/>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="javascript" href="../../../dist" />

		<title>Travel Planner</title>
	</head>
	<body>
		<header>
			<h1>Travel Planner</h1>
		</header>
		<div class="bigcontainer">
			<div id="formcontainer">
				<form >
					<div class="general">
						<div class="whenwhere">
							<h2>Destination: </h2>
							<h3>City: </h3>
							<input
								type="text"
								id="city"
								name="city"
								placeholder="Enter city here"
							/>
							<h3>Country: </h3>
							<input
								type="text"
								id="country"
								name="country"
								placeholder="Enter country here"	
							/>
							<h2>Departure Time: </h2>
							<input type="date" id="time" name = "time" />
						</div>
	
					</div>
		
					<div class="flight">
						<h2>Flight info: </h6>
						<label for="flighttime"> Depart Time:</label>
						<input type="time" id="flighttime" name="flighttime"/>
						<label for="flighttime">Flight Number:</label>
						<input type="text" id="flightnumber" name="flightnumber" />
						<label for="flightdes">Destination:</label>
						<input type="text" id="flightdes" name = "flightdes"/>
					</div>
					<div class="lodging">
						<h2>Places you will be staying</h2>
						<input type="text" id = "lodging" name = "lodging"/>
					</div>
					<div class="items">
						<h2>Things you should prepare before leaving:</h2>
						<textarea id="items" name = "items" cols="30" rows="10"></textarea>
					</div>
					<div class="note">
						<h2>Notes: </h2>
						<textarea id="notes" name = "notes" cols="30" rows="10"></textarea>
					</div>
		
					<div class="btn">
						<button id="generate" type="submit" onclick = "return Client.handleSubmit(event)">Add New Plan</button>
					</div>
					
				</form>
			</div>
		
			<div class="entry">
				<div class="title">Most Recent Plans</div>
					<ul id='planlist'>

					</ul>
	
				</div>
			</div>
	
		</div>
	
	
	</body>
</html>
