body {
	min-height: 100%;
	background-image: url(https://media.cntraveler.com/photos/5f3484e301aedaf2771c644b/16:9/w_4239,h_2384,c_limit/RoadtripPlaylist-GettyImages-1192260535.jpg);
	background-position: center;
	background-size: cover;

	font-family: 'Montserrat', sans-serif;
	margin: 0;
	min-width: 310px;
}
h1 {
	text-align: center;
	font-size: 5em;
	background-color: rgba(252, 214, 112, 0.1);
}
header {
	margin: 0;
}
.title {
	font-size: 35px;
}
label,
input,
textarea {
	font-size: 20px;
	margin: 8px;
}
.bigcontainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas: 'l r';
}
#formcontainer,
.entry {
	margin: 15px;
}
#forcontainer {
	grid-area: l;
}
.entry {
	grid-area: r;
}
